[Unit]
Description=Duplicity backups
After=network-online.target
Wants=network-online.target

[Timer]
# Every 6 hours, starting at 8AM
OnCalendar=*-*-* 08/6:00:00
Unit=backups.service

[Install]
WantedBy=default.target
