[core]
	editor = nvim
[push]
	default = simple
[merge]
	tool = nvimdiff
[mergetool "nvimdiff"]
	cmd = nvim -d "$BASE" "$LOCAL" "$REMOTE" "$MERGED" -u NONE -c '$wincmd w' -c 'wincmd J'

[include]
	path = .config/gitconfig_user
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
