*

!/.gitignore

# Gitconfig
!/.gitconfig

!/.config/

# Neovim
!/.config/nvim
!/.config/nvim/**

# Fish Shell
!/.config/fish
!/.config/fish/**
/.config/fish/fishd.*

# systemd
!/.config/systemd/
!/.config/systemd/user/
!/.config/systemd/user/backups.service
!/.config/systemd/user/backups.timer
!/.config/systemd/user/backups-notify-failure.service
