[submodule ".config/nvim/bundle/ale"]
	path = .config/nvim/bundle/ale
	url = https://github.com/w0rp/ale
[submodule ".config/nvim/bundle/neovim-colors-solarized-truecolor-only"]
	path = .config/nvim/bundle/neovim-colors-solarized-truecolor-only
	url = https://github.com/frankier/neovim-colors-solarized-truecolor-only
[submodule ".config/nvim/bundle/vim-airline"]
	path = .config/nvim/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule ".config/nvim/bundle/vim-airline-themes"]
	path = .config/nvim/bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule ".config/nvim/bundle/YouCompleteMe"]
	path = .config/nvim/bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule ".config/nvim/bundle/vim-hcl"]
	path = .config/nvim/bundle/vim-hcl
	url = https://github.com/b4b4r07/vim-hcl
[submodule ".config/nvim/bundle/ultisnips"]
	path = .config/nvim/bundle/ultisnips
	url = https://github.com/SirVer/ultisnips
